/*REGRA APLICADA AOS CAMPOS DO FORMULÁRIO*/
input{   
    display: block;
    padding-top: 2px;
}

/*REGRA APLICADA ÀS CAIXAS DE TEXTO DO FORMULARIO*/
input.campo {
    height: 29px;
    padding: 0 8px;
    display: block;
    font-size: 14px;
    width: 70%;
    position: relative;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
input.campo:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

input.campo:focus{
    outline: none;
    border: 1px solid #0000FF;
    padding: 7px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

	
/*Regra aplicada aos rótulos do formulario*/
label{
    display:block; 
    font-size: 13.5px;
    font-weight: bold;
}

label.cadastro{
    margin-right: 28%;
}



/*REGRA APLICADA AO FIELDSET*/
fieldset {
    position: relative;
    border: 0px;
    font-size: 10px;
    display: block;
    margin: 0 0 20px -12px;
    padding: 0 10px 0 10px;
    font-weight: bold;
}

/*REGRA APLICADA AOS BOTÕES*/
.botaoCadastro {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
  }

/*REGRAS APLICADAS AO BOTÃO AZUL*/
.botaoCadastro-blue {
    border: 1px solid #1D568E;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #246BB2;
	
}
.botaoCadastro-blue:hover {
    border: 1px solid #1A4D80;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #2060A0;
  	
}
.botaoCadastro-blue:active {
    background-color: #1D5690;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  }


/*REGRAS APLICADAS AO BOTÃO VERDE*/
.botaoCadastro-green {
    border: 1px solid #317A31;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    background-color: #3D993D;
  
}
.botaoCadastro-green:hover {
    border: 1px solid #2C6E2C;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #378A37;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
 }
.botaoCadastro-green:active {
  	border: 1px solid #286328;
  	background-color: #327C32;
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	color: #fff;
}

#cadastro{
    display: none;
}
 

#botoesCadastro{
    padding: 20%;
}

#formCadastro label.error{ 
    color:#FF0000; 
    font-size: 12px;
    margin-right: 98px;
    margin-bottom: -10px;
}

#formLogin label.error{
    color:#FF0000; 
    font-size: 12px;
    display: block;
}

input.error{
    border: 1px solid red;
    background-color: #FFF0F0;
}

input.error:hover{
    border: 1px solid red;
    background-color: #FFF0F0;
}

input.error:focus{
    border: 1px solid red;
    background-color: #FFF0F0;
}
