body{
	background:#FFFFFF;	
	text-align: center;
	margin: 1px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#box{
	height:40%;
	width:1080px;
	text-align:left;
	background:#F2F2F2;
	margin: 0 auto;  
        margin-bottom: 7px;
}
#topo{
	height:100px;
	background:#FFFFFF;
	border-bottom:#0099FF solid 2px;
}
#banner{
	width:510px;
	height:100px;
	background:#FFFFFF url(../../imagens/LogoGTI_menor.jpg) no-repeat;
	float:left;
}
#controles{	
	width: 50%;
	height:60px;	
	float:right;
}
#datahora{
	height: 50px;
	text-align: right;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#datahora input{
        width: 230px;
        font-size: 10px;
        border: 0 none White;
        text-align: center;
}
#controllogin{
	height: 20px;	
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 12.5px;
	margin: 25px 0 0 0;
        margin-right: 100px;
}
 #controllogin .controlusuario{
        text-align: right;
        width: 55%;
        float: left;
        padding: 2px 0 0 0;
 }
 
 #controllogin .controlperfil{
        text-align: right;
        width: 45%;
        float: right;
        padding: 2px 0 0 0;
}

#boxcaixabaixo{
        border: 1px solid #D0D0D0;
        min-width: 1020px;
        
        
}
#menu{
	height: 30px;
	text-align:left;
        min-width: 1020px;
}
#ondeestou{
	height:40px;
	margin:0 auto;
}
#ondeestou p{
   	font-family: Verdana,Arial,Helvetica,sans-serif;
	color: #909090;
	text-align: left;
	padding:10px 0 0 18px;
	font-size: 10px;
        min-width: 1020px;
}
#ondeestou b{
	font-family: Verdana, Helvetica, sans-serif;
	color: #909090;
	text-align: left;
	font-size: 11px;
}
#boxbaixo{
	overflow: hidden;        
	height: 100%;     
        padding-bottom: 30px;
        min-width: 1020px;
}
#menuesquerda{
        height: 100%;
        width: 19.5%;
        float: left;       
        overflow: hidden;
        padding: 10px 10px 5px 10px;
}
#caixacontrole1{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        height: 100%; 
        background: #FFF;
        border: 1px solid #D0D0D0;
        display: block;
        padding-bottom: 10px;
}
#caixacontrole1 ul{
        list-style-image: url("../imagens/seta.gif");    
}
#caixacontrole1 li{  
        color: #1353B5;
        padding-right: 5px;
        padding-bottom: 15px;
        text-align: left;
        font-size: 12px;
}
#caixacontrole1 h3{
        padding: 10px 0 5px 0;
        text-align: center;
        font-size: 12px;
        color: #1353B5;
        padding: 3%;
        background: #F2F2F2;
        border: 1px solid #D0D0D0; 
        margin: 5px 5px 15px 5px;        
        
}
#caixacontrole2{
        width: 90%;        
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        background: #FFF;
        border: 1px solid #D0D0D0;
}
#caixacontrole2 h3{
        padding: 10px 0 5px 0;
        text-align: center;
        font-size: 12px;
        color: #1353B5;
        padding: 3%;
        background: #F2F2F2;
        border: 1px solid #D0D0D0; 
        margin: 5px 5px 15px 5px;
}
#caixacontrole2 ul{
        list-style-image: url("../imagens/seta.gif");    
}
#caixacontrole2 li{  
        color: #909090;
        padding-bottom: 30px;
        padding-right: 5px;
        text-align: left;
        font-size: 10px;
}
#boxconteudo{
        width: 80%;
        height: 200px;
        margin-top: 20px;
        margin-left: 100px;
        background: #FFF;
	border: 1px solid #D0D0D0;
        padding: 0px 1% 1% 1%;
}
#clear{
	clear: both;
}

.botao {
    display: inline-block;
   

    width: 200px;
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    margin-bottom: 10px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
  }

.botao-green {
    border: 1px solid #317A31;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    background-color: #3D993D;
  
}
.botao-green:hover {
    border: 1px solid #2C6E2C;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #378A37;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
 }
.botao-green:active {
  	border: 1px solid #286328;
  	background-color: #327C32;
  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  	color: #fff;
}

a{
    color:#15c;
    text-decoration: none;
}

a:active{
    color: #d14836;
}

a:hover{
    text-decoration: underline;
}

#boxconteudo h1{
    font-size:large;
    color: #1353B5;
    border-bottom: 2px solid #6CB3F5;
    display:block;
    margin:30px 0 30px 0px;
}