#boxcadastro{
    height: 250px;
}
#boxcadastro textarea.descricao{
    width: 99%;
}
#boxcadastro input.descricao{   
    display: block;
    position: relative;
    width: 100%;
}  
/*
--------------------------------------------------
                CSS da Tabela
--------------------------------------------------
*/
table.tablesorter thead tr th.campogrande {
	background-color: #e6EEEE;	
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px; 
        width:50%;
        overflow: hidden;
}
table.tablesorter thead tr th.campopequeno {
	background-color: #e6EEEE;	
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
        width: 30%;
}
table.tablesorter thead tr th.campopequenofone {
	background-color: #e6EEEE;	
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
        width: 20%;
}


